.github-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.form-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.input-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}